.blog__details-heading {
    max-width: 1035px;
    margin:  0 auto;
    font-family: var(--font-black);
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.005em;

    background: linear-gradient(91.91deg, #25B9FC 2.93%, #0EC2E9 99.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 40px 0 34px;
}
.blog__details-header {
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    border-bottom: 2px solid #D6D6D6;
    gap: 48px;
    position: relative;
}
.blog__details-header::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 102px;
    height: 2px;
    background: linear-gradient(91.91deg, #25B9FC 2.93%, #0EC2E9 99.69%);
    border-radius: 0.943056px;
}
.details__header-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: var(--font-medium);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.005em;
    color: #0EA5E9;
}
.blog__details-categoty {
    font-family: var(--font-medium);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #94A3B8;
}
.blog__details-content {
    margin-top: 21px;
    margin-bottom: 31px;
}
.details-text {
    font-family: var(--font-medium);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.005em;
    color: #1E293B;
    margin-bottom: 17px;
}
.details-title {
    font-family: var(--font-medium);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.005em;
    background: linear-gradient(91.91deg, #2999CB 2.93%, #1294B0 99.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 17px 0;
}
.blog__details-content img {
    width: 100%;
    border-radius: 30px;
}
.blog__details {
    margin-bottom: 58px;
}
.blog__news-heading {
    font-family: var(--font-black);
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 133.84%;
    letter-spacing: 0.005em;
    background: linear-gradient(91.91deg, #25B9FC 2.93%, #0EC2E9 99.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 24px;
    border-bottom: 2px solid #BAE6FD;
    position: relative;
}
.blog__news-heading::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 61px;
    height: 2px;
    background: linear-gradient(91.91deg, #25B9FC 2.93%, #0EC2E9 99.69%);
}
.news-img {
    margin-bottom: 8px;
    vertical-align: top;
}
.news-img img{
    vertical-align: top;
}
.blog__news-item {
    width: calc(20% - 11.5px);
}
.blog__news-item span {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: var(--font-medium);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: #0EA5E9;
}
.blog__news-item p {
    font-family: var(--font-medium);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #1E293B;
    margin-top: 8px;
}
.blog__news-list {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .blog__detail {
        padding: 0 16px;
    }
    .blog__news {
        padding: 0 16px;
    }
}

@media screen and (max-width: 768px) {
    .blog__details-content img {
        width: 100%;
        border-radius: 10px;
    }
    .blog__details {
        margin-bottom: 24px;
    }
    .blog__details-heading {
        max-width: 329px;
        font-size: 18px;
        line-height: 21px;
        padding: 9px 0 17px;
    }
    .blog__details-header {
        justify-content: center;
        padding-bottom: 12px;
        gap: 20px;
    }
    .details__header-date img {
        max-width: 15px;
    }
    .details__header-date {
        gap: 5px;
        font-size: 12px;
        line-height: 14px;
    }
    .blog__details-categoty {
        font-size: 12px;
        line-height: 14px;
    }
    .blog__details-header::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 33px;
        height: 2px;
        background: linear-gradient(91.91deg, #25B9FC 2.93%, #0EC2E9 99.69%);
        border-radius: 0.943056px;
    }
    .details-text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px;
    }
    .details-title {
        font-size: 12px;
        line-height: 16px;
        margin: 11px 0;
        text-align: center;
    }
    .blog__news-list {
        display: flex;
        justify-content: space-between;
        gap: 18px 14px;
        flex-wrap: wrap;
    }
    .blog__news-item {
        width: calc(50% - 11.5px);
    }
    .blog__news-item span img {
        max-width: 13px;
    }
    .blog__news-item span {
        font-size: 9px;
        line-height: 13px;
    }
    .blog__news-item p {
        font-size: 14px;
        line-height: 17px;
        margin-top: 6px;
    }
}