@font-face {
  src: url(../fonts/SF-Pro-Rounded-Black.otf) format("truetype");
  font-family: 'SF-Pro-Rounded-Black';
  font-weight:900;
}
@font-face {
  src: url(../fonts/SF-Pro-Rounded-Medium.otf) format("truetype");
  font-family: 'SF-Pro-Rounded-Medium';
  font-weight: 500;
}
@font-face {
  src: url(../fonts/SF-Pro-Rounded-Light.otf) format("truetype");
  font-family: 'SF-Pro-Rounded-Light';
  font-weight: 300;
}
@font-face {
  src: url(../fonts/SF-Pro-Rounded-Semibold.otf) format("truetype");
  font-family: 'SF-Pro-Rounded-Semibold';
  font-weight: 300;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #FFFFFF;
}
html, body{
  display: block;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
:root {
  --font-black: 'SF-Pro-Rounded-Black';
  --font-medium: 'SF-Pro-Rounded-Medium';
  --font-light: 'SF-Pro-Rounded-Light';
  --font-semibold: 'SF-Pro-Rounded-Semibold';
  --font-inter: 'Inter', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --color-primary: #0EA5E9;
  --color-white: #FFFFFF;
  --color-slate: #1E293B;
}
.w-100 {
  width: 100% !important;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
header {
  padding: 22px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: var(--color-white);
}
.header-container{
  display: flex;
  justify-content: space-between;
}
#wrap {
  display: flex;
  gap: 28px;
}
#wrap ul{
  display: flex;
  align-items: center;
  gap: 28px;
  background: #F8FAFC;
  border-radius: 24px;
  position: relative;
  padding: 14px 24px 14px;
}
#wrap ul li {
  position: relative;
}
#wrap ul li a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;

  color: #000000;
}
#wrap ul li a i {
  margin-left: 8px;
}
#wrap ul li a:hover {
  color: var(--color-primary);
}
#wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  border-radius: 7.94927px;
  padding: 0;
}
#wrap ul ul li {
  float: none;
  width: 175px;
  padding: 7px 19px;
}
#wrap ul ul li:hover {
  border: 1px solid var(--color-primary);
  border-radius: 7.94927px;
}
#wrap ul ul li a{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap ul ul a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;

  color: #1F2937;
}
#wrap ul ul ul {
  top: 0;
  left: 100%;
  padding: 0;
  margin-left: 1px;
}
#wrap ul ul ul li {
  width: 238px;
}
#wrap ul li:hover > ul{
  display: block;
}

/* ================= footer =================== */
footer {
  border-top: 1px solid #BAE6FD;
}
.footer-container {
  text-align: center;
}
.logo-footer {
  margin-bottom: 18px;
}
.ft-text {
  font-family: var(--font-light);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.005em;

  color: #000000;
  margin-bottom: 24px;
}
.list-social {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.ft-top {
  padding: 30px 16px 38px;
}
.ft-bottom {
  padding: 8px 0;
  border-top: 1px solid #BAE6FD;
  text-align: center;
}
.copyright span {
  font-family: var(--font-light);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: 0.005em;

  color: #535353;
} 

main {
  margin-top: 106px;
}










.search-box {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #d5dae1;
  border-radius: 8px;
  max-height: 36px;
  max-width:174px;
  border: none;
  cursor: pointer;
}
.search-bg {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 8%);
  border-radius: 10px;
  padding: 4px 8px;
}
.search-bg ::placeholder {
  color: #38BDF8;
}
.hide {
  border: none;
  width: 100%;
  outline: none;
  display: none;
}
.show {
  display: block;
  
}
.search-box button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}


.search-box:hover #search:focus {
  outline:none;
  width: 100%;
}
.search-box:hover #search:focus > input#search {
  outline:none;
  width: 100%;
  display: block;
}
 
.search-box:hover input#search{
 display: block;
}












.mb {
  display: none;
}
.hideOverflowOnMobile {
  overflow-y: hidden;
}
@media screen and (max-width: 1024px) {
  main {
    margin-top: 89px;
  }
  .pc {
    display: none;
  }
  .mb {
    display: block;
  }
  header {
    padding: 24px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: var(--color-white);
}
  
  .logo img {
    max-width: 145px;
  }
  .main-menu {
    position: fixed;
    padding: 20px 14px;
    background: #FFFFFF;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transform: translateY(-100%);
  }
  #wrap {
    gap: 10px 0;
  }
  #wrap ul {
    background: #F7F7F7;
    flex-direction: column;
    gap: 15px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 100%;
    border-radius: 70px;

  }
  #wrap .menu-close {
    text-align: right;
  }
  .search-bg {
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 10px;
    padding: 4px 8px;
    border: 1px solid #25B9FC;
    ;
  }
  #wrap ul li {
    position: relative;
  }
  /* #wrap ul li::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    background: #94A3B8;
    border-radius: 21px;
    width: 35px;
    height: 1px;
  } */
  #wrap ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #000000;
  }
  #wrap ul li a i {
    margin-left: 2px;
  }
  .show-menu {
    transform: translateY(0%);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menu-close {
    padding: 5px 5px 0 0;
  }

  #wrap ul ul {
    display: none;
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
    background: #F7F7F7;
    margin: 0 auto;
    text-align: center;
  }
  #wrap ul ul li {
    float: none;
    width: 100%;
    padding: 4px 0;
  }
  #wrap ul ul li:hover {
    border: none;
    border-radius: 7.94927px;
    transition: .5s linear;
  }
  #wrap ul ul ul li {
    width: 100%;
  }
  #wrap ul ul ul {
    top: 0;
    left: 50%;
    padding: 0;
    margin-left: 1px;
  }
  #wrap ul ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  /* Footer======================= */
  .ft-top {
    padding: 25px 16px 27px;
  }
  .logo-footer {
    margin-bottom: 13px;
  }
  .logo-footer img{
    max-width: 145px;
  }
  .ft-text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .list-social {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  .list-social img {
    max-width: 25px;
  }
}
